<nav *ngIf="menuVisible" class="navbar navbar-expand-lg navbar-dark shadow-sm custom-navbar fixed-top">
  <div class="w-100 px-3 d-flex align-items-center justify-content-between">
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <span class="menu-title-mobile d-block d-lg-none text-white fw-bold text-center flex-grow-1">
      <i class="bi {{ iconoActual }} me-1"></i>{{ tituloActual }}
    </span>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Enlace a Control de Movimiento -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" routerLink="/control-movimiento" routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }" (click)="cerrarMenu()">
            <i class="bi bi-bar-chart-steps me-1"></i> Control de Movimiento
          </a>
        </li>

        <!-- Enlace a Mantenedor de Técnicos -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" routerLink="/mantenedor-tecnicos" routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }" (click)="cerrarMenu()">
            <i class="bi bi-person-lines-fill me-1"></i> Mantenedor de Técnicos
          </a>
        </li>

        <!-- Enlace a Mantenedor de Trabajos -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" routerLink="/trabajos" routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }" (click)="cerrarMenu()">
            <i class="bi bi-clipboard-data me-1"></i> Mantenedor de Trabajos
          </a>
        </li>


        <!-- Enlace para cerrar sesión -->
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center text-danger fw-bold" href="#" (click)="cerrarSesion($event)">
            <i class="bi bi-arrow-left-circle me-1"></i> Salir
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>